@import "bourbon";
@import "_fonts";

$velvet: #780116;
$tile-base: #D83646;
$tile-layer: #c75a43;
$forest-green: #053225;
$weed-green: #7A9B76;
$grey-blue: #6B9AA5;

body {
  background-color: $velvet;
}

.tile {
  background-color: $tile-base;
  border: 1px solid black;
  margin: 0.5em;

  .base {
    position: relative;
  }

  .layer {
    border: 1px solid black;
    margin: 1em;
    position: relative;
    background-color: $tile-layer;
  }

  .content {
    margin: 0.75em;
  }
}
