@import "bourbon";
@import "neat";
@import "_fonts";
@import "_tile";

$velvet: #780116;
$forest-green: #053225;
$weed-green: #7A9B76;
$grey-blue: #6B9AA5;

body {
  background-color: $velvet;
}

.main {
  @include span-columns(12);
}
